<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>2021</key>
        <dict>
            <key>relax</key>
            <dict>
                <key>2021-01-01</key>
                <string>元旦</string>
                <key>2021-01-02</key>
                <string>元旦</string>
                <key>2021-01-03</key>
                <string>元旦</string>
                <key>2021-02-11</key>
                <string>春节</string>
                <key>2021-02-12</key>
                <string>春节</string>
                <key>2021-02-13</key>
                <string>春节</string>
                <key>2021-02-14</key>
                <string>春节</string>
                <key>2021-02-15</key>
                <string>春节</string>
                <key>2021-02-16</key>
                <string>春节</string>
                <key>2021-02-17</key>
                <string>春节</string>
                <key>2021-04-03</key>
                <string>清明节</string>
                <key>2021-04-04</key>
                <string>清明节</string>
                <key>2021-04-05</key>
                <string>清明节</string>
                <key>2021-05-01</key>
                <string>劳动节</string>
                <key>2021-05-02</key>
                <string>劳动节</string>
                <key>2021-05-03</key>
                <string>劳动节</string>
                <key>2021-05-04</key>
                <string>劳动节</string>
                <key>2021-05-05</key>
                <string>劳动节</string>
                <key>2021-06-12</key>
                <string>端午节</string>
                <key>2021-06-13</key>
                <string>端午节</string>
                <key>2021-06-14</key>
                <string>端午节</string>
                <key>2021-09-19</key>
                <string>中秋节</string>
                <key>2021-09-20</key>
                <string>中秋节</string>
                <key>2021-09-21</key>
                <string>中秋节</string>
                <key>2021-10-01</key>
                <string>国庆节</string>
                <key>2021-10-02</key>
                <string>国庆节</string>
                <key>2021-10-03</key>
                <string>国庆节</string>
                <key>2021-10-04</key>
                <string>国庆节</string>
                <key>2021-10-05</key>
                <string>国庆节</string>
                <key>2021-10-06</key>
                <string>国庆节</string>
                <key>2021-10-07</key>
                <string>国庆节</string>
            </dict>
            <key>work</key>
            <dict>
                <key>2021-02-07</key>
                <string>春节</string>
                <key>2021-02-20</key>
                <string>春节</string>
                <key>2021-04-25</key>
                <string>劳动节</string>
                <key>2021-05-08</key>
                <string>劳动节</string>
                <key>2021-09-18</key>
                <string>中秋节</string>
                <key>2021-09-26</key>
                <string>国庆节</string>
                <key>2021-10-09</key>
                <string>国庆节</string>
            </dict>
        </dict>
        <key>2022</key>
        <dict>
            <key>relax</key>
            <dict>
                <key>2022-01-01</key>
                <string>元旦</string>
                <key>2022-01-02</key>
                <string>元旦</string>
                <key>2022-01-03</key>
                <string>元旦</string>
                <key>2022-01-31</key>
                <string>春节</string>
                <key>2022-02-01</key>
                <string>春节</string>
                <key>2022-02-02</key>
                <string>春节</string>
                <key>2022-02-03</key>
                <string>春节</string>
                <key>2022-02-04</key>
                <string>春节</string>
                <key>2022-02-05</key>
                <string>春节</string>
                <key>2022-02-06</key>
                <string>春节</string>
                <key>2022-04-03</key>
                <string>清明节</string>
                <key>2022-04-04</key>
                <string>清明节</string>
                <key>2022-04-05</key>
                <string>清明节</string>
                <key>2022-04-30</key>
                <string>劳动节</string>
                <key>2022-05-01</key>
                <string>劳动节</string>
                <key>2022-05-02</key>
                <string>劳动节</string>
                <key>2022-05-03</key>
                <string>劳动节</string>
                <key>2022-05-04</key>
                <string>劳动节</string>
                <key>2022-06-03</key>
                <string>端午节</string>
                <key>2022-06-04</key>
                <string>端午节</string>
                <key>2022-06-05</key>
                <string>端午节</string>
                <key>2022-09-10</key>
                <string>中秋节</string>
                <key>2022-09-11</key>
                <string>中秋节</string>
                <key>2022-09-12</key>
                <string>中秋节</string>
                <key>2022-10-01</key>
                <string>国庆节</string>
                <key>2022-10-02</key>
                <string>国庆节</string>
                <key>2022-10-03</key>
                <string>国庆节</string>
                <key>2022-10-04</key>
                <string>国庆节</string>
                <key>2022-10-05</key>
                <string>国庆节</string>
                <key>2022-10-06</key>
                <string>国庆节</string>
                <key>2022-10-07</key>
                <string>国庆节</string>
                <key>2022-12-31</key>
                <string>元旦</string>
            </dict>
            <key>work</key>
            <dict>
                <key>2022-01-29</key>
                <string>春节</string>
                <key>2022-01-30</key>
                <string>春节</string>
                <key>2022-04-02</key>
                <string>清明节</string>
                <key>2022-04-24</key>
                <string>劳动节</string>
                <key>2022-05-07</key>
                <string>劳动节</string>
                <key>2022-10-08</key>
                <string>国庆节</string>
                <key>2022-10-09</key>
                <string>国庆节</string>
            </dict>
        </dict>
        <key>2023</key>
        <dict>
            <key>relax</key>
            <dict>
                <key>2023-01-01</key>
                <string>元旦</string>
                <key>2023-01-02</key>
                <string>元旦</string>
                <key>2023-01-21</key>
                <string>春节</string>
                <key>2023-01-22</key>
                <string>春节</string>
                <key>2023-01-23</key>
                <string>春节</string>
                <key>2023-01-24</key>
                <string>春节</string>
                <key>2023-01-25</key>
                <string>春节</string>
                <key>2023-01-26</key>
                <string>春节</string>
                <key>2023-01-27</key>
                <string>春节</string>
                <key>2023-04-05</key>
                <string>清明节</string>
                <key>2023-04-29</key>
                <string>劳动节</string>
                <key>2023-04-30</key>
                <string>劳动节</string>
                <key>2023-05-01</key>
                <string>劳动节</string>
                <key>2023-05-02</key>
                <string>劳动节</string>
                <key>2023-05-03</key>
                <string>劳动节</string>

                <key>2023-06-22</key>
                <string>端午节</string>
                <key>2023-06-23</key>
                <string>端午节</string>
                <key>2023-06-24</key>
                <string>端午节</string>

                <key>2023-09-29</key>
                <string>中秋节、国庆节</string>
                <key>2023-09-30</key>
                <string>中秋节、国庆节</string>
                <key>2023-10-01</key>
                <string>中秋节、国庆节</string>
                <key>2023-10-02</key>
                <string>中秋节、国庆节</string>
                <key>2023-10-03</key>
                <string>中秋节、国庆节</string>
                <key>2023-10-04</key>
                <string>中秋节、国庆节</string>
                <key>2023-10-05</key>
                <string>中秋节、国庆节</string>
                <key>2023-10-06</key>
                <string>中秋节、国庆节</string>
            </dict>
            <key>work</key>
            <dict>
                <key>2023-01-28</key>
                <string>春节</string>
                <key>2023-01-29</key>
                <string>春节</string>
                <key>2022-04-02</key>
                <string>清明节</string>
                <key>2023-04-23</key>
                <string>劳动节</string>
                <key>2023-05-06</key>
                <string>劳动节</string>
                <key>2023-06-25</key>
                <string>端午节</string>
                <key>2023-10-07</key>
                <string>中秋节、国庆节</string>
                <key>2023-10-08</key>
                <string>中秋节、国庆节</string>
            </dict>
        </dict>
        <key>2024</key>
        <dict>
            <key>relax</key>
            <dict>
                <key>2024-01-01</key>
                <string>元旦</string>
                <key>2024-02-10</key>
                <string>春节</string>
                <key>2024-02-11</key>
                <string>春节</string>
                <key>2024-02-12</key>
                <string>春节</string>
                <key>2024-02-13</key>
                <string>春节</string>
                <key>2024-02-14</key>
                <string>春节</string>
                <key>2024-02-15</key>
                <string>春节</string>
                <key>2024-02-16</key>
                <string>春节</string>
                <key>2024-02-17</key>
                <string>春节</string>
                <key>2024-04-04</key>
                <string>清明节</string>
                <key>2024-04-05</key>
                <string>清明节</string>
                <key>2024-04-06</key>
                <string>清明节</string>
                <key>2024-05-01</key>
                <string>劳动节</string>
                <key>2024-05-02</key>
                <string>劳动节</string>
                <key>2024-05-03</key>
                <string>劳动节</string>
                <key>2024-05-04</key>
                <string>劳动节</string>
                <key>2024-05-05</key>
                <string>劳动节</string>

                <key>2024-06-10</key>
                <string>端午节</string>

                <key>2024-09-15</key>
                <string>中秋节</string>
                <key>2024-09-16</key>
                <string>中秋节</string>
                <key>2024-09-17</key>
                <string>中秋节</string>
                
                <key>2024-10-01</key>
                <string>国庆节</string>
                <key>2024-10-02</key>
                <string>国庆节</string>
                <key>2024-10-03</key>
                <string>国庆节</string>
                <key>2024-10-04</key>
                <string>国庆节</string>
                <key>2024-10-05</key>
                <string>国庆节</string>
                <key>2024-10-06</key>
                <string>国庆节</string>
                <key>2024-10-07</key>
                <string>国庆节</string>
            </dict>
            <key>work</key>
            <dict>
                <key>2024-02-04</key>
                <string>春节</string>
                <key>2024-02-18</key>
                <string>春节</string>
                <key>2024-04-07</key>
                <string>清明节</string>

                <key>2024-04-28</key>
                <string>劳动节</string>
                <key>2024-05-11</key>
                <string>劳动节</string>

                <key>2024-09-14</key>
                <string>中秋节</string>
                <key>2024-09-29</key>
                <string>国庆节</string>
                <key>2024-10-12</key>
                <string>国庆节</string>
            </dict>
        </dict>
        <key>2025</key>
        <dict></dict>
        <key>2026</key>
        <dict></dict>
        <key>2027</key>
        <dict></dict>
        <key>2028</key>
        <dict></dict>
        <key>2025</key>
        <dict>
            <key>relax</key>
            <dict>
                <key>2025-01-01</key>
                <string>元旦</string>
                <key>2025-01-28</key>
                <string>春节</string>
                <key>2025-02-02</key>
                <string>春节</string>
                <key>2025-02-03</key>
                <string>春节</string>
                <key>2025-02-04</key>
                <string>春节</string>
                <key>2025-04-04</key>
                <string>清明节</string>
                <key>2025-04-05</key>
                <string>清明节</string>
                <key>2025-04-06</key>
                <string>清明节</string>
                <key>2025-05-01</key>
                <string>劳动节</string>
                <key>2025-05-02</key>
                <string>劳动节</string>
                <key>2025-05-03</key>
                <string>劳动节</string>
                <key>2025-05-04</key>
                <string>劳动节</string>
                <key>2025-05-05</key>
                <string>劳动节</string>
                <key>2025-05-31</key>
                <string>端午节</string>
                <key>2025-06-01</key>
                <string>端午节</string>
                <key>2025-06-02</key>
                <string>端午节</string>
                <key>2025-10-01</key>
                <string>国庆节、中秋节</string>
                <key>2025-10-02</key>
                <string>国庆节、中秋节</string>
                <key>2025-10-03</key>
                <string>国庆节、中秋节</string>
                <key>2025-10-04</key>
                <string>国庆节、中秋节</string>
                <key>2025-10-05</key>
                <string>国庆节、中秋节</string>
                <key>2025-10-06</key>
                <string>国庆节、中秋节</string>
                <key>2025-10-07</key>
                <string>国庆节、中秋节</string>
                <key>2025-10-08</key>
                <string>国庆节、中秋节</string>
            </dict>
            <key>work</key>
            <dict>
                <key>2025-01-26</key>
                <string>春节调休上班</string>
                <key>2025-02-08</key>
                <string>春节调休上班</string>
                <key>2025-04-27</key>
                <string>劳动节调休上班</string>
                <key>2025-09-28</key>
                <string>国庆节、中秋节调休上班</string>
                <key>2025-10-11</key>
                <string>国庆节、中秋节调休上班</string>
            </dict>
        </dict>
    </dict>
</plist>
