<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>relax</key>
	<dict>
		<key>2021-01-01</key>
		<string>元旦</string>
		<key>2021-01-02</key>
		<string>元旦</string>
		<key>2021-01-03</key>
		<string>元旦</string>
		<key>2021-02-11</key>
		<string>春节</string>
		<key>2021-02-12</key>
		<string>春节</string>
		<key>2021-02-13</key>
		<string>春节</string>
		<key>2021-02-14</key>
		<string>春节</string>
		<key>2021-02-15</key>
		<string>春节</string>
		<key>2021-02-16</key>
		<string>春节</string>
		<key>2021-02-17</key>
		<string>春节</string>
		<key>2021-04-03</key>
		<string>清明节</string>
		<key>2021-04-04</key>
		<string>清明节</string>
		<key>2021-04-05</key>
		<string>清明节</string>
		<key>2021-05-01</key>
		<string>劳动节</string>
		<key>2021-05-02</key>
		<string>劳动节</string>
		<key>2021-05-03</key>
		<string>劳动节</string>
		<key>2021-05-04</key>
		<string>劳动节</string>
		<key>2021-05-05</key>
		<string>劳动节</string>
		<key>2021-06-12</key>
		<string>端午节</string>
		<key>2021-06-13</key>
		<string>端午节</string>
		<key>2021-06-14</key>
		<string>端午节</string>
		<key>2021-09-19</key>
		<string>中秋节</string>
		<key>2021-09-20</key>
		<string>中秋节</string>
		<key>2021-09-21</key>
		<string>中秋节</string>
		<key>2021-10-01</key>
		<string>国庆节</string>
		<key>2021-10-02</key>
		<string>国庆节</string>
		<key>2021-10-03</key>
		<string>国庆节</string>
		<key>2021-10-04</key>
		<string>国庆节</string>
		<key>2021-10-05</key>
		<string>国庆节</string>
		<key>2021-10-06</key>
		<string>国庆节</string>
		<key>2021-10-07</key>
		<string>国庆节</string>
	</dict>
	<key>work</key>
	<dict>
		<key>2021-02-07</key>
		<string>春节</string>
		<key>2021-02-20</key>
		<string>春节</string>
		<key>2021-04-25</key>
		<string>劳动节</string>
		<key>2021-05-08</key>
		<string>劳动节</string>
		<key>2021-09-18</key>
		<string>中秋节</string>
		<key>2021-09-26</key>
		<string>国庆节</string>
		<key>2021-10-09</key>
		<string>国庆节</string>
	</dict>
</dict>
</plist>
